body{
  background-color: #1b1a34;
  background-image: url('../assets/vetor1.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.conteinerForm{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
  padding: 45px 61px;
}

label{
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.h1{
  font-size: 48px;
}

input{
  margin-bottom: 30px;
}

a{
  font-size: 1rem;
}

button{
  margin-bottom: 30px;
}